.cocktail-show {
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 5px;
  padding: 5px;
  justify-content: center;
  text-align: center;
}

.cocktail-content {
  margin: auto;
  padding: 10px;
}

.list-group {
  justify-content: center;
  margin: auto;
}

.cocktail-name {
  margin: 0 auto;
  width: 400px;
  margin-top: 30px;
  justify-content: center;
  text-align: center;
  color: #ec9f10;
}
