.form-control-new {
  width: 18rem;
  color: white;
}

.new-cocktail {
  width: 400px;
  height: 260px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 5px;
  padding: 5px;
}

.new-dose {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 5px;
  padding: 7px;
  text-align: center;
}
